<!DOCTYPE html>
<html>
    <head>
        <title>Crear Tarea</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
    </head>
    <body onload="initNotifications()">
        <div class="container body-content">
            <h2>Editar Tarea</h2>
            <form method="POST">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2" >Nombre de la Tarea: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" name="nombreTarea" placeholder="nombreTarea">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Descripcion de la Tarea: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" name="descripcionTarea" placeholder="descripcionTarea">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Nota de la Tarea: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" name="notaTarea" placeholder="NotaTarea">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Estado de la Tarea: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" name="estadoTarea" placeholder="EstadoTarea">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Fecha de Inicio Tarea: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="date" name="fechaInicioTarea">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Fecha de Fin Tarea: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="date" name="fechaFinTarea">
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="control-label col-md-2" >
                            <button class="btn btn-primary" type="submit" value="create">Create</button>
                            </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-warning" onclick="goBack()">Regresar</button>
            <button class="btn btn-dark" onclick="window.location.href='/Curso/index'">Inicio</button>              
        </div>
    </body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script>
        $(function(){     
            $.ajax({  
            type: "GET",
            url: "/header",  
            dataType: "html",                
            success: function(answer) {  
                $("body").prepend(answer);  
            },
                error: function(){
                alert("failed call!!!");
            } 
            }); 
            return false;  
        });
    </script>
</html>