<!DOCTYPE html>
<html>
    <head>
        <title>Crear Materia</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
    </head>
    <body>
        <div class="container body-content">
            <h2>Crear Materia</h2>
            <form method="POST">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2" >Nombre de la Materia: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" placeholder="Materia" name="nombreMateria">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Horas de la Materia: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" placeholder="Curso" name="horasMateria">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2" >
                            <button class="btn btn-primary" type="submit" value="create">Create</button>
                            </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-warning" onclick="goBack()">Regresar</button>
            <button class="btn btn-dark" onclick="window.location.href='/Curso/index'">Inicio</button>              
    </body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script>
        $(function(){     
            $.ajax({  
            type: "GET",
            url: "/header",  
            dataType: "html",                
            success: function(answer) {  
                $("body").prepend(answer);  
            },
                error: function(){
                alert("failed call!!!");
            } 
            }); 
            return false;  
        });
    </script>
</html>