<!DOCTYPE html>
<html>
    <head>
        <title>Editar Materia</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    </head>
    <body>
        <div class="container body-content">
            <h2>Editar Materia</h2>
            <form method="POST" action="{{materias.id}}?method=update">
                <div class="form-horizontal">
                    <input type="hidden" name="id" class="form-control" value="{{materias.id}}">
                    <div class="form-group">
                        <label class="control-label col-md-2" >Nombre de la Materia: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" placeholder="Materia" name="nombreMateria">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Horas de la Materia: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" placeholder="Curso" name="horasMateria">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2" >
                            <button class="btn btn-info" type="submit" value="Submit form">Create</button>
                            </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-warning" onclick="goBack()">Regresar</button>
            <button class="btn btn-dark" onclick="window.location.href='/Curso/index'">Inicio</button>              
        </div>
            <button onclick="window.location.href='/index'">Inicio</button>
        </div>       
    </body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script>
        $(function(){     
            $.ajax({  
            type: "GET",
            url: "/header",  
            dataType: "html",                
            success: function(answer) {  
                $("body").prepend(answer);  
            },
                error: function(){
                alert("failed call!!!");
            } 
            }); 
            return false;  
        });
    </script>
</html>