<!DOCTYPE html>
<html>
    <head>
        <div>
            <title>Edit Estudiante</title>
        </div>
    </head>
    <body>
        <div class="header">
            <div class="topMenu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Contactenos</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h2>Lista de Estudiantes</h2>
        <div class="entry">
            <form method="POST" action="{{estudiantes.id}}?method=update">
                <input type="hidden" name="id" class="form-control" value="{{estudiantes.id}}">
                Nombre del Estudiante: <input type="text" placeholder="Nombre" class="form-control" name="nombreEstudiante"><br>
                Apellido del Estudiante: <input type="text" placeholder="Apellido" class="form-control" name="apellidoEstudiante"><br>
                Direccion del Estudiante: <input type="text" placeholder="Direccion" class="form-control" name="DireccionEstudiante"><br>
                Email Estudiante: <input type="text" placeholder="Email" class="form-control" name="emailEstudiante"><br>
                Curso: <input type="text" placeholder="Curso" class="form-control" name="idCurso"><br>
                <button type="submit" value="Submit form">Editar</button><br>
            </form>               
            <button onclick="goBack()">Regresar</button>
            
            <script>
            function goBack() {
                window.history.back();
            }
            </script>

            <button onclick="window.location.href='/Curso/index'">Inicio</button>
        </div>       
    </body>
</html>