<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="content">
            <div class="header">
                <div class="topMenu">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Contactenos</a></li>
                    </ul>
                </div>
            </div>
            <h2>Crear Curso</h2>
            <div class="entry">
                <form method="POST">
                Nombre del Curso: <input type="text" placeholder="Curso" class="form-control" name="nombreCurso"><br>
                <button type="submit" value="create">Crear</button><br>
                </form>
            </div>
            <button onclick="window.location.href='/index'">Inicio</button>
        </div>
    </body>
</html>