<!DOCTYPE html>
<html>
    <head>
        <title>Curso</title>
        <link rel="stylesheet" type="text/css" href="./css/page.css">
    </head>
    <body>
        <div class="header">
            <div class="topMenu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Contactenos</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h2>Lista de Cursos</h2>
        <div class="entry">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th></th>
                </tr>
                {{#each cursos}}
                    <tr>   
                        <td>{{this.nombreCurso}}</td>
                        <td><button onclick="window.location.href='update/{{this.id}}'" >Edit</button>
                        <button type="submit" formmethod="POST" value="delete">Delete</button></td>
                    </tr> 
                {{/each}} 
                </tr>
            </table>
            <br/>
            <button onclick="window.location.href='/Curso/create'">Create</button>
            <button onclick="goBack()">Regresar</button>

            <script>
            function goBack() {
                window.history.back();
            }
            </script>

            <button onclick="window.location.href='/index'">Inicio</button>
        </div> 
    </body>
</html>
