<!DOCTYPE html>
<html>
    <head>
        <title>Curso</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    </head>
    <!--<input type="hidden" id="token" value="Bearer {{user}}">-->
    <body onload="initNotifications()">         
        <div class="container body-content">
            <h2>Lista de Cursos</h2>
            <div class="entry">
                <table class="table">
                    <tr class="odd">
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                    {{#each cursos}}
                        <tr>
                            <td>{{this.nombreCurso}}</td>
                            <td><button class="btn btn-info" onclick="window.location.href='update/{{this.id}}'">Edit</button>
                            <form class="delete" method="POST" action="delete/{{this.id}}?method=delete"><button class="btn btn-danger" onclick="showNotification()">Delete</button></form></td>                        
                        </tr> 
                    {{/each}}
                </table>
                <br/>
                <button class="btn btn-primary" onclick="window.location.href='/Curso/create'">Create</button>
                <button class="btn btn-warning" onclick="goBack()">Regresar</button>
                <button class="btn btn-dark" onclick="window.location.href='/index'">Inicio</button>
            </div>
        </div> 
    </body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script type="text/javascript">
	var notificationsEnabled = false;
	
        function initNotifications() {
            console.log('lego');
            if (window.Notification) {
                Notification.requestPermission(function(permission) {
                    if (permission === 'granted') {
                        notificationsEnabled = true;
                    } else {
                        alert("You denied Notifications, it's so sad :(");
                    }
                });
            } else {
                alert("Your browser doesn't support Notifications API");
            }
        }
        
        function showNotification() {
            if (notificationsEnabled) {
                var notification = new Notification("Aula Virtual", {
                    body : 'Dato eliminado!'
                });
                
                setTimeout(function() { notification.close(); }, 5000);
            } else {
                alert("Notifications are disabled");
            }
        }
    </script>
    <script>
        $(function(){     
            $.ajax({  
            type: "GET",
            url: "/header",  
            dataType: "html",                
            success: function(answer) {  
                $("body").prepend(answer);  
            },
                error: function(){
                alert("failed call!!!");
            } 
            }); 
            return false;  
        });
    </script>    
</html>