<h2>Lista de Productos</h2>
<div class="entry">
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
        {{#each cursos}}
            <tr>   
                <td>{{this.nombreCurso}}</td>
                <td><button onclick="window.location.href='Usuario/Edit'">Edit</button>
                <button onclick="window.location.href='Usuario/Delete'">Delete</button></td>
            </tr> 
        {{/each}} 
        </tr>
    </table>
    <br/>
    <button onclick="window.location.href='/Producto/Create'">Create</button>
    <button onclick="goBack()">Regresar</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    <button onclick="window.location.href='/index'">Inicio</button>