body{
    background-color: #999;	
}
#page{
border: 1px solid #f00;
width: 955px;
height: 740px;
margin: 0 auto;
}
.header{
border: 1px solid green;
height: 111px;
}
.topMenu{
float: right;
}
.topMenu ul{
margin: 0;
padding: 0;
}
.topMenu ul li{
float: left;
margin: 13px 18px 0 20px;
list-style-type: none;
color: #fff;
}
.topMenu ul li a{
color: #fff;
text-decoration: none;
}
.footer{
    background: #999;
    height: 196px;
}