<!DOCTYPE html>
<html>
    <head>
        <title>Crear Curso</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Curso/index">Curso</a></li>
                        <li><a href="/Materia/index">Materia</a></li>
                        <li><a href="/Estudiante/index">Estudiante</a></li>
                        <li><a href="/Profesor/index">Profesor</a></li>
                        <li><a href="/Tarea/index">Tarea</a></li>
                    </ul>
                    <form class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Usuario</a></li>
                            <li><a href="#">Cerrar Sesion</a></li>
                        </ul>
                    </form>
                </div>                
            </div>
        </div>
        <div class="container body-content">
            <h2>Editar Profesor</h2>
            <form method="POST" action="{{profesores.id}}?method=update">
                <div class="form-horizontal">
                    <input type="hidden" name="id" class="form-control" value="{{profesores.id}}">
                    <div class="form-group">
                        <label class="control-label col-md-2" >Nombre del Profesor: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" placeholder="Nombre" name="nombreProfesor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Apellido del Profesor: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" placeholder="Apellido" name="apellidoProfesor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Direccion del Profesor: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" placeholder="Direccion" name="direccionProfesor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Email del Profesor: </label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" type="text" placeholder="Email" name="emailProfesor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Curso del Profesor: </label>
                        <div class="col-md-10">                            
                            <select class="form-control" name="cursos">
                                {{#each profesores}}
                                    <option value="{{this.cursos.id}}">{{this.cursos.nombreCurso}}</option>
                                {{/each}}
                            </select>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2" >
                            <button class="btn btn-info" type="submit" value="Submit form">Edit</button>
                            </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-warning" onclick="goBack()">Regresar</button>
            <button class="btn btn-dark" onclick="window.location.href='/Curso/index'">Inicio</button>              
        </div>
    </body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</html>