<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <form class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/User/register">Registrarse</a></li>
                            <li><a href="#">Iniciar Sesion</a></li>
                        </ul>
                    </form>
                </div>                
            </div>
        </div>
        <div class="container body-content">
            <h2>Iniciar Sesion</h2>
            <div class="col-md-8">
                <section id="loginForm">
                    <form action="POST">
                        <div class="form-group">
                            <label class="control-label col-md-2" >Nombre del Curso: </label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" placeholder="Curso" name="nombreCurso">
                            </div>
                        </div>

                        <div class="form-group">
                        <div class="control-label col-md-2" >
                            <button class="btn btn-primary" type="submit" value="create">Iniciar Sesion</button>
                        </div>
                        </div>
                    </form>
                </section>
            </div>
            <button class="btn btn-warning" onclick="goBack()">Regresar</button>
            <button class="btn btn-dark" onclick="window.location.href='/Curso/index'">Inicio</button>              
        </div>
    </body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</html>